@charset "utf-8";

/* reset-detail.css */

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h1.logo {
    font-size: 40px;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 30px;
}

div.detail-recipe {
    margin-bottom: 150px;
}
div.detail-recipe .title {
    text-align: center;
    margin-bottom: 60px;

    /* background-color: yellow; */
}
div.detail-recipe .title h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
div.detail-recipe .title .des {
    font-size: 1.4rem;
    margin-bottom: 40px;
}
div.detail-recipe .title .keyword {}
div.detail-recipe .title .keyword span {
    display: inline-block;
    font-size: 18px;
    background-color: #d0b8a8;
    color: #fff;
    padding: 6px 12px;
    margin-right: 6px;
    font-weight: 600;
    border-radius: 30px;
}

div.detail-recipe .main-img {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 80px;

    /* outline: 2px solid red; */
}
div.detail-recipe .main-img img {
    width: 100%;
    display: block; /* img가 inline 요소이기 때문에 block 처리를 해준다. */
}

div.detail-recipe .button {
    border: 2px solid #c5705d;
    font-size: 18px;

    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #c5705d;
    border-radius: 50px;
    margin: 0 auto;
    overflow: hidden;
    color: #c5705d;
}
div.detail-recipe .button a.back {
    display: block;
    
    /* background-color: yellow; */
} /* a태그는 inline 요소이다. */
div.detail-recipe .button:hover {
    background-color: #c5705d;
    color: #fff;
}

